.sidebarChannels:hover > h3 {
  color: white;
  background-color: #40464b;
}
.sidebarChannels > h3 {
  display: flex;
  padding-left: 15px;
  align-items: center;
  background-color: #2f3135;
  color: gray;
  cursor: pointer;
  /* border-bottom: 1px solid gray; */
}
.sidebarchannels__hash {
  font-size: 30px;
  padding: 8px;
}
